@font-face {
  font-family: "iconfont"; /* Project id 3266028 */
  src: url('//at.alicdn.com/t/font_3266028_q6g97elppik.woff2?t=1650630786741') format('woff2'),
       url('//at.alicdn.com/t/font_3266028_q6g97elppik.woff?t=1650630786741') format('woff'),
       url('//at.alicdn.com/t/font_3266028_q6g97elppik.ttf?t=1650630786741') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\ead8";
}

.icon-erji:before {
  content: "\e60b";
}

.icon-yuanquan0:before {
  content: "\e728";
}

.icon-arrowRight:before {
  content: "\e65d";
}

.icon-wangyiyunyinle1-copy:before {
  content: "\e601";
}

.icon-shichagundong:before {
  content: "\e60a";
}

.icon-paihang:before {
  content: "\e611";
}

.icon-tanchishe:before {
  content: "\e62b";
}

.icon-saolei:before {
  content: "\e704";
}

.icon-qizhi:before {
  content: "\e66b";
}

.icon-zhadan:before {
  content: "\e677";
}

.icon-back-top1_fill:before {
  content: "\e781";
}

.icon-iconbilibili:before {
  content: "\e606";
}

.icon-zhuzhan:before {
  content: "\e600";
}

.icon-sun:before {
  content: "\e6df";
}

.icon-Moon:before {
  content: "\e630";
}

.icon-qq:before {
  content: "\e62d";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-aixin:before {
  content: "\e617";
}

.icon-shuqian:before {
  content: "\e686";
}

.icon-weibo:before {
  content: "\e8bb";
}

.icon-icon_bilibili:before {
  content: "\e679";
}
